<p-card>
  <ng-template pTemplate="title">
    Login
  </ng-template>
  <ng-template pTemplate="subtitle">
    Enter credentials for Login
  </ng-template>
  <ng-template pTemplate="content">
    <div class="flex flex-column" style="width:20rem">
      <form #loginForm="ngForm" class="flex flex-column m-1" (ngSubmit)="onSubmitLogin(loginForm)">
        <div class="field">
          <label for="mail" class="block">mail</label>
          <div class="p-inputgroup">
            <span class="p-inputgroup-addon"><i class="pi pi-user"></i></span>
            <input type="email" id="mail" name="mail" #mail="ngModel" pattern="^[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$"
              [class.ng-invalid]="mail.invalid && (mail.dirty || mail.touched)" [required]="true"
              [class.ng-dirty]="mail.invalid && (mail.dirty || mail.touched)" ngModel pInputText
              placeholder="Enter E-Mail">
          </div>
          <small id="mail-help" class="block p-error" style="height: 12px;">
            <span *ngIf="mail.invalid && (mail.dirty || mail.touched)">Enter valid E-Mail ID</span>
          </small>
        </div>
        <div class="field">
          <label for="password" class="block">Password</label>
          <div class="p-inputgroup">
            <span class="p-inputgroup-addon"><i class="pi pi-key"></i></span>
            <span class="p-input-icon-right" style="width: 100%;">
              <i class="pi" [class.pi-eye]="!showPassword" [class.pi-eye-slash]="showPassword" (click)="showPassword=!showPassword"></i>
              <input id="password" [type]="showPassword?'text':'password'" pInputText placeholder="Enter Password" #password="ngModel" ngModel
              name="password" [class.ng-invalid]="password.invalid && (password.dirty || password.touched)"
              [required]="true" [class.ng-dirty]="password.invalid && (password.dirty || password.touched)"
              [style]="{'width':'100%'}" />
          </span>
          </div>
          <small id="password-help" class="block p-error" style="height: 12px;">
            <span *ngIf="password.invalid && (password.dirty || password.touched)">
              Enter valid password
            </span>
          </small>
        </div>
        <p-button label="Sign-In" [style]="{'width':'100%'}" type="submit" [disabled]="loginForm.status=='INVALID'"
          [loading]="false"></p-button>
      </form>
      <div class="mt-1 mb-1 flex flex-row justify-content-between">
        <span class="text-xs">Dont have an Account yet?</span>
        <a class="pointer text-xs" routerLink="/welcome/signup">Sign-Up</a>
      </div>
    </div>
  </ng-template>
</p-card>
