<p-card>
  <ng-template pTemplate="title">
    Sign-Up
  </ng-template>
  <ng-template pTemplate="subtitle">
    Enter credentials for Sign-Up
  </ng-template>
  <ng-template pTemplate="content">
    <div class="flex flex-column" style="width:20rem">
      <form class="flex flex-column m-1" [formGroup]="signUpForm" (ngSubmit)="onSignUp()">
        <div class="field">
          <label for="mail" class="block">E-Mail</label>
          <div class="p-inputgroup">
            <span class="p-inputgroup-addon"><i class="pi pi-user"></i></span>
            <input type="text" id="mail"
              [class.ng-dirty]="signUpForm.controls['mail'].invalid && (signUpForm.controls['mail'].dirty||signUpForm.controls['mail'].touched)"
              [class.ng-invalid]="signUpForm.controls['mail'].invalid && (signUpForm.controls['mail'].dirty||signUpForm.controls['mail'].touched)"
              formControlName="mail" pInputText placeholder="Enter E-Mail">
          </div>
          <small id="mail-help" class="p-error block" style="height: 12px;">
            <span
              *ngIf="signUpForm.controls['mail'].invalid && (signUpForm.controls['mail'].dirty||signUpForm.controls['mail'].touched)">
              Invalid E-Mail ID
            </span>
          </small>
        </div>
        <div class="field">
          <label for="password" class="block">Password</label>
          <div class="p-inputgroup">
            <span class="p-inputgroup-addon"><i class="pi pi-key"></i></span>
            <span class="p-input-icon-right" style="width: 100%;">
              <i class="pi" [class.pi-eye]="!showPassword" [class.pi-eye-slash]="showPassword"
                (click)="showPassword=!showPassword"></i>
              <input id="password" [type]="showPassword?'text':'password'" pInputText placeholder="Enter Password"
                name="password" formControlName="password"
                [class.ng-invalid]="signUpForm.controls['password'].invalid && (signUpForm.controls['password'].dirty || signUpForm.controls['password'].touched)"
                [class.ng-dirty]="signUpForm.controls['password'].invalid && (signUpForm.controls['password'].dirty || signUpForm.controls['password'].touched)"
                [style]="{'width':'100%'}" />
            </span>
          </div>
          <small id="mail-help" class="block p-error" style="height: 12px;">
            <span
              *ngIf="signUpForm.controls['password'].invalid && (signUpForm.controls['password'].dirty || signUpForm.controls['password'].touched)">
              Enter valid password
            </span>
          </small>
        </div>
        <div class="field">
          <label for="confirmPassword" class="block">Confirm Password</label>
          <div class="p-inputgroup">
            <span class="p-inputgroup-addon"><i class="pi pi-key"></i></span>
            <span class="p-input-icon-right" style="width: 100%;">
              <i class="pi" [class.pi-eye]="!showPassword" [class.pi-eye-slash]="showPassword"
                (click)="showPassword=!showPassword"></i>
              <input id="confirmPassword" [type]="showPassword?'text':'password'" pInputText
                placeholder="Enter Confirm Password" name="confirmPassword" formControlName="confirmPassword"
                [class.ng-invalid]="signUpForm.controls['confirmPassword'].invalid && (signUpForm.controls['confirmPassword'].dirty || signUpForm.controls['confirmPassword'].touched)"
                [class.ng-dirty]="signUpForm.controls['confirmPassword'].invalid && (signUpForm.controls['confirmPassword'].dirty || signUpForm.controls['confirmPassword'].touched)"
                [style]="{'width':'100%'}" />
            </span>
          </div>
          <small id="mail-help" class="block p-error" style="height: 12px;">
            <span
              *ngIf="signUpForm.controls['confirmPassword'].value===signUpForm.controls['password'].value && signUpForm.controls['confirmPassword'].invalid && (signUpForm.controls['confirmPassword'].dirty || signUpForm.controls['confirmPassword'].touched)">
               Enter valid password
            </span>
            <span *ngIf="signUpForm.controls['confirmPassword'].value!==signUpForm.controls['password'].value">
              Password and Confirm Password should match
            </span>
          </small>
        </div>
        <p-button label="Sign-In" [style]="{'width':'100%'}" type="submit" [disabled]="!signUpForm.valid" [loading]="false"></p-button>
      </form>
      <div class="mt-1 mb-1 flex flex-row justify-content-between">
        <span class="text-xs">Already have an Account ?</span>
        <a class="pointer text-xs" routerLink="/welcome/login">Sign-In</a>
      </div>
    </div>
  </ng-template>
</p-card>
