<p-card styleClass="m-5 vh-80 mvw-90">
  <ng-template pTemplate="title">
    QuizList
  </ng-template>
  <ng-template pTemplate="subtitle">
    Select the Quiz you want to attempt
  </ng-template>
  <ng-template pTemplate="content">
    <p-table [columns]="quizList.header" dataKey="id" (onRowUnselect)="resetQuiz()" styleClass="p-datatable-gridlines p-datatable-striped" [value]="quizList.body" selectionMode="single" [(selection)]="selectedQuiz">
      <ng-template pTemplate="header" let-columns>
        <tr>
          <th *ngFor="let col of columns">
            {{col.header}}
          </th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-quiz let-columns="columns" >
        <tr [pSelectableRow]="quiz">
          <td *ngFor="let col of columns">
            <span *ngIf="col.type==='date'">
              {{quiz[col.field] | date:'M/d/yyyy, h:mm:ss a'}}
            </span>
            <span *ngIf="col.type!=='date'&&col.type!=='result'">
              {{quiz[col.field]}}
            </span>
            <span *ngIf="col.type==='result'">
              <p-tag *ngIf="quiz[col.field].length" [severity]="quiz[col.field][0].grade==='Passed'?'success':'danger'" [value]="quiz[col.field][0].grade"></p-tag>
              <p-tag *ngIf="quiz[col.field].length==0" [severity]="'warn'" [value]="'Not Evaluated'"></p-tag>
            </span>
          </td>
        </tr>
      </ng-template>

    </p-table>
  </ng-template>
  <ng-template pTemplate="footer">
    <div class="flex flex-row justify-content-end mt-2 mb-2">
      <p-button label="Attempt" *ngIf="!isAdmin" class="mr-2" icon="pi pi-book" (onClick)="onAttempt()" [disabled]="!selectedQuiz?.id" iconPos="left"></p-button>
      <p-button label="Delete" *ngIf="isAdmin" class="mr-2 p-button-danger" [disabled]="!selectedQuiz?.id" icon="pi pi-trash" (onClick)="onDelete()"  iconPos="left"></p-button>
      <p-button label="Edit" *ngIf="isAdmin" class="mr-2 p-button-info" [disabled]="!selectedQuiz?.id" icon="pi pi-pencil" (onClick)="onEdit()"  iconPos="left"></p-button>
      <p-button label="Create" *ngIf="isAdmin"  icon="pi pi-plus" (onClick)="onCreate()"  iconPos="left"></p-button>
    </div>
  </ng-template>
</p-card>
<p-confirmDialog key="quizlist"></p-confirmDialog>
