.w-100{
  width: 100%;
}

.h-100{
  height: 100%;
}

.vh-80{
  min-height: 80vh !important;
}

.vw-80{
  min-width: 80vw !important;
}

.mvw-80{
  max-width: 80vw !important;
}

.mvw-90{
  max-width: 90vw !important;
}
